ul{
    list-style-type: none;
    margin: 4px;
    padding: 6px;
    background-color: orangered;
    overflow: hidden;
    font-weight: bold;
}
li{
    float: left;
}
li a {
            padding: 30px;
            color: white;
            display: block;
            text-decoration: none;
            border-right: 2px solid white;
        }
ul a:active{
    background: black;
}



li a:hover{
    color: yellow;
}

h1{
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: "DejaVu Serif";
}
body{
    background-color: black;
    color: white;
}
h2{
    color: greenyellow;
}

ol{
    li{
        float:revert;
        color: white;
        font-size: 15px;
    }
}
label{
    color: white;
    font-size: 20px;
    font-family: "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
    font-style: italic;
}
input{
border: 2px solid white;
    margin: 20px;
    padding: 10px;
    width: 50%;
}
a{
    color: white;
}
.footer{
    font-style: italic;
    font-size: 20px;
    font-family: Chilanka;
}
button{
    border: 2px solid black;
    margin: 10px;
    padding: 12px;
    background-color: red;
}
button:hover{
    background: orangered;
}
#agreement{
    padding: 0;
    margin: 0;
    width: 0;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin: 5px;
}
th{
    font-weight: bolder;
    margin: 10px;
    font-style: italic;
    font-size: 25px;
}
td{
    margin: 5px;
    padding: 6px;
    font-weight: bolder;
}
td,th{
    border: 2px solid red;
}
tr:nth-child(even){
    background-color: lawngreen;
}